<section class="item monster-feature{{#if legendaryactions}} legendary-actions{{/if}}{{#if lairactions}} lair-actions{{/if}}{{#unless item.flags.monsterblock.expanded}} compact{{/unless}}" title="{{#if @root.flags.editing}}{{localize "MOBLOKS5E.EditHint"}}{{/if}}">
	<div class="feature-description inline-children">
		{{#if @root.flags.show-delete}}
			<a class="delete-item" data-item-id="{{item._id}}">
				<i class="fa fa-trash"></i>
			</a>
		{{/if}}
		{{#unless lairactions}}
			<span class="item-name" data-item-id="{{item._id}}">
				{{~item.name~}} 
			</span>
			{{~#if item.system.recharge.value~}}
				<span class="name-extension"
					data-item-id="{{item._id}}"
					data-roll-flavor="{{item.name}} ({{localize "MOBLOKS5E.Recharge"}} {{item.system.recharge.value}}-6): " 
					data-roll-formula="1d6" 
					data-roll-target="{{item.system.recharge.value}}" 
					data-roll-success="{{localize "DND5E.Charged"}}" 
					data-roll-failure="{{localize "MOBLOKS5E.NCharged"}}"
					data-roll-handler="setCharged">
					({{localize "MOBLOKS5E.Recharge"}} {{item.system.recharge.value}}-6){{~" "~}}
				</span>
			{{~/if~}}
			{{~#if (and item.is.legendary (gt item.system.activation.cost 1))~}}
				<span class="name-extension">
					({{localize "MOBLOKS5E.LegActionCost" number=item.system.activation.cost}}){{~" "~}}
				</span>
			{{~/if~}}
			{{~#unless legendaryactions~}}
				{{~#if item.hasresource~}}
					{{> "modules/monsterblock/templates/dnd5e/parts/resource.hbs" resource=item.resource}}
				{{~/if~}}
			{{~/unless~}}{{localize "MOBLOKS5E.NameDescriptionSep"}}
		{{~else~}}
			<span class="item-name" data-item-id="{{item._id}}"></span>
		{{~/unless}}
		{{~#if item.is.save~}}
			<span class="description">
				DC {{ item.system.save.dc }} {{ item.system.save.ability }}
				{{~#if item.system.damage.parts~}} 
					{{localize "MOBLOKS5E.Comma"}} {{on-save-text item.system}}
				{{~/if~}}
				{{~#if item.system.target.value~}}
					{{localize "MOBLOKS5E.Comma"}} {{ item.system.target.value }}{{#if item.system.target.width}} × {{ item.system.target.width }}{{/if}} {{ item.system.target.units }} {{ item.system.target.type }}
				{{~/if~}}
				{{~#if item.system.range.value~}}
					{{localize "MOBLOKS5E.Comma"}} {{ item.system.range.value }}{{#if item.system.range.long}}/{{ item.system.range.long }}{{/if}} {{ item.system.range.units }} {{localize "MOBLOKS5E.range"}}
				{{~/if~}}
				{{~#if (or item.system.duration.value item.system.duration.units)~}}
					{{localize "MOBLOKS5E.Comma"}} {{ item.system.duration.value }} {{duration-to-text item.system.duration.units}}
				{{~/if~}}
				{{~#if item.system.damage.parts~}}
					{{localize "MOBLOKS5E.NameDescriptionSep"}} {{localize "MOBLOKS5E.Damage"}}: {{damage-parts-to-text item.system}}
				{{~/if~}}{{localize "MOBLOKS5E.NameDescriptionSep"}}
			</span>
			<br />
		{{~/if~}}
		<span class="description">{{{moblok-enrichhtml item.system.description.value @root.owner @root.flags}}}</span>
	</div>
</section>