<h4 class="attribute-name box-title">{{~localize "DND5E.LegRes"}}</h4>
<span title="{{localize "MOBLOKS5E.Current"}}" 
	placeholder="0" 
	data-field-key="system.resources.legres.value" 
	data-dtype="Number" 
	class="attr-value" 
	contenteditable="{{owner}}">
	{{~#if system.resources.legres.value~}}
		{{~system.resources.legres.value~}}
	{{~else~}}
		0
	{{~/if~}}
</span>
<span class="sep"> / </span>
<span title="{{localize "MOBLOKS5E.Maximum"}}" 
	placeholder="0" 
	data-field-key="system.resources.legres.max" 
	data-dtype="Number"
	class="attr-value" 
	contenteditable="{{owner}}">
	{{~#if system.resources.legres.max~}}
		{{system.resources.legres.max~}}
	{{~else~}}
		0
	{{~/if~}}
</span>