
{{#if flags.show-fortitude-points}}
<h4 class="attribute-name box-title">{{~localize "DND5E.FortitudePoints"}}</h4>
<span title="{{localize "MOBLOKS5E.Current"}}" 
	placeholder="0" 
	data-field-key="system.attributes.fp.value" 
	data-dtype="Number" 
	class="attr-value" 
	contenteditable="{{owner}}">
	{{~#if system.attributes.fp.value~}}
		{{~system.attributes.fp.value~}}
	{{~else~}}
		0
	{{~/if~}}
</span>
<span class="sep"> / </span>
<span title="{{localize "MOBLOKS5E.Maximum"}}" 
	placeholder="0" 
	data-field-key="system.attributes.fp.max" 
	data-dtype="Number"
	class="attr-value" 
	contenteditable="{{owner}}">
	{{~#if system.attributes.fp.max~}}
		{{system.attributes.fp.max~}}
	{{~else~}}
		0
	{{~/if~}}
</span>
{{~/if~}}